server {
	listen 80;
	listen 443 ssl http2;
        server_name imageproxy.blogmal.com; 

        location / {
	proxy_set_header X-Real-IP  $remote_addr;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header Host $host;
        proxy_pass http://localhost:8880;
        }
}
