upstream hhvmo {
   ip_hash;
   server 190.102.111.104:9000;
 #  server unix:/var/run/hhvm/hhvm.sock;
}
server {
listen 80;
listen [::]:80 ipv6only=on;
server_name unto.re *.unto.re;
root   /var/www/untore;
include conf.d/files.nix;
# php files
location ~ \.(hh|php)$ {
#fastcgi_pass unix:/var/run/hhvm/hhvm.sock;
fastcgi_pass hhvmo;
include conf.d/php-server.nix;
}
#location @fallback {
#fastcgi_pass    unix:/var/run/php/php7.0-fpm.sock;
#include conf.d/php-server.nix;
#}
# security
include conf.d/utr_betterWpSecurity.nix;
location ~ /\. {
deny all;
access_log off;
log_not_found off;
}
location = /favicon.ico {
log_not_found off;
access_log off;
}
location = /robots.txt {
allow all;
log_not_found off;
access_log off;
}
index index.html index.htm index.php index.cgi index.pl index.xhtml;
# errors
error_page 400 /error/400.html;
error_page 401 /error/401.html;
error_page 403 /error/403.html;
error_page 404 /error/404.html;
error_page 405 /error/405.html;
error_page 500 /error/500.html;
error_page 502 /error/502.html;
error_page 503 /error/503.html;
recursive_error_pages off;
location = /error/400.html {
internal;
}
location = /error/401.html {
internal;
}
location = /error/403.html {
internal;
}
location = /error/404.html {
internal;
}
location = /error/405.html {
internal;
}
location = /error/500.html {
internal;
}
location = /error/502.html {
internal;
}
location = /error/503.html {
internal;
}
error_log /var/log/untore.error.log;
access_log /var/log/untore.access.log combined;
}

